@use '../abstracts' as *;

.navbar {
  top: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  z-index: 1000;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: $secondary !important;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    margin-top: 1rem;
  }
}