// Colores base
$primary: #0d6efd;
$primary-dark: #0b5ed7;
$secondary: #ffc107;
$gray-dark: #212529;
$gray-light: #f8f9fa;
$text-muted: #495057;
$input-border: #ced4da;
$focus-shadow: rgba(13, 110, 253, 0.25);

// Tipografía
$font-family: 'Roboto', sans-serif;